/*Embedded Font*/
@font-face{
  font-family: 'Charlemagne std';
  src: url('https://www.gallop-racing.com/fonts/charlemagne-std/CharlemagneStd-Bold.otf') format('embedded-opentype'),
  url('https://www.gallop-racing.com/fonts/charlemagne-std/CharlemagneStd-Bold.woff') format('woff');
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /*force all images to be responsive*/
  img
      {
        width: 100%;
        height: auto;
    }

  @media (min-width: 320px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

/*
body
{width: 840px;}
*/

.bodyTag{ 
    margin:0 0 0 0; 
    background-image: url(/images/background.gif)}

    h2, h4, h5, .navbar-brand {
        font-family: Charlemagne std;
        color: #000;
    }

    h3 {
      font-family: Georgia;
      color: #000;
      font-weight: bold;
      font-style: italic;
    }

/*Begin New Code for X Close Button*/
       /* hide close when burger shown */
       .navbar-toggler.collapsed .close-icon {
        display: none;
     }
     .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
        display: inline;
     }
    /*End New Code for X Close Button*/
    
    li.nav-item, .dropdown, .active {
      border: 1px solid gray; 
      border-radius:5px;
      }
    /*Customize Nav Menu Buttons*/
    a.nav-link {
      text-transform:uppercase;
      font-weight:bold;
      text-align:center;
      color:#FFF !important;
      }
    a.dropdown-item{
      text-decoration:underline;
    }
    div.dropdown-menu{
      border: 2px solid black; 
    }	
  .btn-secondary{
            width: 250px;
        background-color: #1b95e0 !important;
            }
  .module-wrapper{
        border: 2px solid black; 
        border-radius:5px; 
        width: 300px;
      }
        
  .round-border{
    border: 2px solid #344f7c; 
    border-radius:5px;
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom: 10px;
    background-color: #e5ecf9;
  }
  
       .btn-nominations{
        width: 55px !important;
       }
       .btn-half{
        width: 120px !important;
       }

      .iframe-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        /*padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        /*padding-top: 62.5%; /* 8:5 Aspect Ratio */
        /*padding-top: 66.66%; /* 3:2 Aspect Ratio */
        /*padding-top: 75%; /* 4:3 Aspect Ratio */
        padding-top: 100%; /* 1:1 Aspect Ratio */
      } 
/* Then style the iframe to fit in the container div with full height and width */
      .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

/*Use this to center all of the content within the 3 columns*/
  .col-lg-4 p div {
  text-align:center;
  }

  /* Table properties */

th {
  height: 50px;
}

td {
	height: 30px;
	vertical-align: middle; /* it should default to this anyway; may need to remove any local or inline CSS to prevent this being overridden */
}

.TableHeader {
	background:#344f7c; 
	color:white !important;
	font-weight:bold;
  padding: 10px;
}

.TableStandard {
	max-width:500px;
	min-width:250px;
  border: 1px solid black;
  border-collapse: collapse; 
	/*border:thin;
	border-width: 1px; 
	border-color: #CCC;*/
  background-color: #FFF;
  width: 100%;
  padding: 10px;
}

.TableStandard td {
	text-align:left;
	vertical-align:middle;
	border: 1px solid black; 
  border-collapse: collapse; 
  /*border-width: 1px; 
	border-color: #CCC;*/
  margin-left: 10px;
  padding-left: 10px;	
}

.TableSubHeader {
	font-weight:bold;
	}

.TableNotes {
	font-style:italic;
	font-size:13px;
}

.Standings-Team {
	text-align:left !important;
}

.table-data-number {
  text-align: center !important;
}

.drafted-player {
  font-weight: bold;
}

.non-drafted-player {
  font-style: italic;
}

.stats-table {
  margin: 10px;
  background-color: #FFF;
  width: 100%;
  min-width: 250px;
}

.race-name-header {
  font-weight: bold;
  text-align: center !important;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.leaderboard-data-number {
text-align: center !important;
padding: 0px !important;
font-weight: bold !important;
}

.leaderboard-data-player {
font-size: 10px !important;
font-style: italic !important;
}

.leaderboard-data-stable {
font-weight: bold !important;
font-size: 14px !important;
/*border-bottom: none !important;*/
border-bottom: #FFF !important;
}

/* End Table Styles*/

/* Scoring Table Special Styles */

.scoring-table-data {
  text-align: center;
  padding: 9px;
  background-color: #FFF;
}

.scoring-table-data-subject {
  font-size: 12px;
  text-align: left;
  font-style: italic;
  font-weight: bold;
  padding: 5px;
  background-color: #344f7c;
  color: #FFF;
}

/* This will apply to all tables*/
.scoring-table table, th, td {
  border-width: 2px;
  border: 1px solid #344f7c;
  border-collapse: collapse; 
	}

.scoring-table-header-row { 
  border-width: 5px;
  background-color: #344f7c;
  color: #FFF;
}

/* End Scoring Table Special Styles */

.breadcrumb {
	padding-top: 20px !important; /* any adjustment here should also be applied to the jumbotron pic on index.shtml */
	border: 2px solid black; 
	border-radius:5px;
	padding-left: 20px !important;
  background-color: #344f7c;
}

span.PageTitleBreadCrumb { 
  color: #FFF;
  /*color: #5e183e; */
  text-align: left; 
  font: 10pt "Tahoma";
  font-weight:bold
}

a.PageTitleBreadCrumb { 
  color: #FFF;
  /*color: #5e183e; */
  text-align: left; 
  font: 10pt "Tahoma";
  font-weight:bold
}
  
a.PageTitleBreadCrumb:link {
  text-decoration: underline;
  color: #FFF;
  /*color: #0000CC; */
  }

p.module-button-wrapper {
  text-align: center;
}